* {box-sizing:border-box}

/* Hide the images by default */
.mySlides {
    display: none;
}

/*Show Title*/
.show {
    display: contents;
}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  max-height: auto;
  position: relative;
  margin-left: 15%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(174, 1, 1);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 1px 1px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right:0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 0, 0, 0.552);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.4s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* The sidebar menu */
.sidenav {
    /*height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 60px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(218, 177, 149); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 1px 2px 1px 8px;
    text-decoration: none;
    font-size: 12px;
    color: #000000;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #720000;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 80%) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/*Dark mode*/
.dark-mode {
    background-color: rgb(44, 44, 44);
  }
